[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
kivy = {extras = ["base"], version = "*"}
"kivyx.utils.fontfinder" = {editable = true, path = "."}
pytest = "*"

[requires]
python_version = "3.8"
